# Features
FEATURE_IN_APP_BROWSER_DETECTION="0"
FEATURE_OBJECT_STORAGE="0"

# Public
PUBLIC_NAME="Hyperion"
PUBLIC_API_URL="http://localhost:8081"
PUBLIC_CF_ACCOUNT_ID="00000000000000000000000000000000"
PUBLIC_CF_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
