@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.5rem;
    --accent: #fffbeb;
    --accent-foreground: #713f12;
    --background: #fafafa;
    --border: #e4e4e7;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --chart-1: #d97706;
    --chart-2: #71717a;
    --chart-3: #f59e0b;
    --chart-4: #a1a1aa;
    --chart-5: #92400e;
    --destructive: oklch(0.577 0.245 27.325);
    --environment-staging: oklch(0.852 0.199 91.936);
    --foreground: oklch(0.141 0.005 285.823);
    --input: #d4d4d8;
    --muted: #f4f4f5;
    --muted-foreground: oklch(0.552 0.016 285.938);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: #f59e0b;
    --primary-foreground: #09090b;
    --ring: #d97706;
    --secondary: #f4f4f5;
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar: oklch(0.985 0 0);
    --sidebar-accent: #fffbeb;
    --sidebar-accent-foreground: #713f12;
    --sidebar-border: #e4e4e7;
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: #f59e0b;
    --sidebar-primary-foreground: #09090b;
    --sidebar-ring: #d97706;
}

.dark {
    --accent: #302714;
    --accent-foreground: #fcd34d;
    --background: #171717;
    --border: #3f3f46;
    --card: #202020;
    --card-foreground: oklch(0.985 0 0);
    --chart-1: #fbbf24;
    --chart-2: #a1a1aa;
    --chart-3: #d97706;
    --chart-4: #71717a;
    --chart-5: #fcd34d;
    --destructive: oklch(0.704 0.191 22.216);
    --environment-staging: oklch(0.852 0.199 91.936);
    --foreground: oklch(0.985 0 0);
    --input: #52525b;
    --muted: #27272a;
    --muted-foreground: oklch(0.705 0.015 286.067);
    --popover: #202020;
    --popover-foreground: oklch(0.985 0 0);
    --primary: #fbbf24;
    --primary-foreground: #09090b;
    --ring: #fbbf24;
    --secondary: #27272a;
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar: #202020;
    --sidebar-accent: #302714;
    --sidebar-accent-foreground: #fcd34d;
    --sidebar-border: #3f3f46;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: #fbbf24;
    --sidebar-primary-foreground: #09090b;
    --sidebar-ring: #fbbf24;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-background: var(--background);
    --color-border: var(--border);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-destructive: var(--destructive);
    --color-environment-staging: var(--environment-staging);
    --color-foreground: var(--foreground);
    --color-input: var(--input);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-ring: var(--ring);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-sidebar: var(--sidebar);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
